{% extends "user/base.html" %}

{% block content %}


<div class="row bg-dark text-center d-flex align-items-center justify-content-center" 
style="height: 300px; background: url('/static/images/battery3.jpg') no-repeat center center/cover;">
</div>




<section class="light-background section" >
    

    <div class="container">
        <h1 class="text-dark fw-bold display-4 text-uppercase text-center mb-5" 
            style="text-shadow: 2px 2px 4px rgba(0,0,0,0.3);">
            Who We Are
        </h1>
        <div class="clearfix">
            <img src="/static/images/workshop4.jpg" 
                 class="img-thumbnail img-fluid float-end ms-4 mb-3" 
                 alt="" 
                 style="max-width: 700px; max-height: 700px;">
            
            <p class="fs-5" style="text-align: justify;">
                <strong>ECOSUN Solar Power Limited,</strong> the maker of Ecosun Power Products is a premier provider of solar energy solutions, dedicated to delivering sustainable and reliable clean energy through our cutting-edge products. As an energy provider company, the Ecosun in partnership with foreign companies in Europe and Asian, we have been at the forefront of solar technology innovation since the company was founded. Our commitment to excellence has positioned us as leaders in the industry, particularly in the development of high-efficiency solar panels, advanced inverters, state-of-the-art lithium batteries and AI and IoT integrated solar streetlights.
            </p>
            
            <p class="fs-5" style="text-align: justify;">
                As our technology and partnerships have evolved, so has our experience, 
                which reflect our unwavering commitment to quality and innovation. Recently, we are expanding our focus on overseas cooperation, particularly in government projects, where our expertise in solar energy is making a substantial impact. Today, our systems are deployed in numerous countries, contributing to the global transition 
                to clean, sustainable energy.
            </p>
            <p class="fs-5" style="text-align: justify;">In recent years, we have aggressively expanded our overseas partnerships, 
                particularly with government projects. Currently, our solar street lights are in use in about eight countries, including Peru, South Africa, Ghana, Ethiopia, Zimbabwe, Pakistan, Vietnam, and the Philippines, with ongoing development to support multiple 
                languages. Within Nigeria, our systems have been deployed in over six states, including FCT-Abuja, Delta, Lagos, and Rivers, among others, for both individual and corporate clients.. </p>
                <p class="fs-5" style="text-align: justify;">Our solar solutions are divided into two main categories. The first includes our top quality solar panels, inverters, and lithium batteries, which are designed to deliver maximum efficiency and durability. Our panels are known for their high module efficiency, reaching up to 21.33%, and are engineered to perform exceptionally even under low weather conditions. Paired with our pure sine wave solar inverters, which feature advanced technologies like WiFi and GPRS compatibility, high PV input voltage range, and smart battery charge designs, these systems ensure a reliable power supply for a wide range of applications.</p>
 
        </div>


        <div class="clearfix">
        
            <img src="/static/images/workshop.jpg" 
            class="img-thumbnail img-fluid float-start me-4 mb-3" 
            alt="" 
            style="max-width: 700px; max-height: 700px;">
       
        
        
            <p class="fs-5" style="text-align: justify;">
                The second category is our revolutionary Artificial Intelligence (AI) - Internet of Things (IoT) system solar CCTV streetlights which also have an inbuilt anti-theft system. Ecosun Power Limited is proud to be the first company with other foreign companies to integrate AI and IoT into solar street lights and these streetlights are equipped with intelligent features like voice and facial recognition, global positioning (GPS), 
                intelligent management, adjustable CCT, and an inbuilt reporting and signal system and remote monitoring, making them a powerful tool for enhancing security in urban environments.
            </p>
                <p class="fs-5" style="text-align: justify;">Our solar product range includes top-quality 182MM series panels known for their exceptional efficiency and durability. Our offerings also feature pure sine wave solar inverters, available in both on-grid and off-grid models, with an output power factor of 1.0. Key features of our inverters include:</p>
                <ul class="fs-5">
                    <li><i class="bi bi-check2-circle"></i> <span>UWiFi and GPRS compatibility for iOS and Android</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Ability to run without a battery.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>One-key restoration to factory settings.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Built-in lithium battery automatic activation</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Integrated MPPT solar chargers: 160A for 8kW and 10kW models, and 140A for the 
                      7kW model</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span>High PV input voltage range (90 - 500 VDC)</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span>Built-in anti-dust kit for harsh environments</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span>Smart battery charge design to optimize battery life.</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span> Dual output with touch button controls.</span></li>
                      <li><i class="bi bi-check2-circle"></i> <span>On-grid and off-grid work modes.</span></li>
                      
                </ul>
            
                
       
        
    </div>

    <div class="clearfix">
        
            <p class="fs-5" style="text-align: justify;">
                Our Solar Home Systems are meticulously engineered to meet the demanding needs 
                of healthcare facilities, providing a reliable and uninterrupted power supply for critical 
                medical equipment, lighting, and refrigeration. These systems are not only efficient but 
                also incredibly durable and easy to maintain, making them an ideal choice for 
                environments where power reliability is crucial. One of the standout features of our Solar Home Systems is their advanced lithium-ion 
                battery storage, which ensures continuous power even in the absence of sunlight. This 
                capability is essential for maintaining the operations of health facilities, where any 
                power disruption could have serious consequences. Additionally, our systems are 
                designed with scalability in mind, allowing for easy expansion as power demands 
                increase, ensuring long-term adaptability
            </p>
            

    </div>
    
    <div class="clearfix">
        <img src="/static/images/battery6.jpg" 
        class="img-thumbnail img-fluid float-end ms-4 mb-3" 
        alt="" 
        style="max-width: 700px; max-height: 700px;">

        <p class="fs-5" style="text-align: justify;">Our solar modules boast an efficiency of up to 21.33%, which means they deliver the 
            highest power output with the lowest kilowatt-hour cost. This translates to a greater 
            lifetime generating capacity, ensuring that your investment in solar energy provides 
            maximum returns over time. Furthermore, our modules exhibit the lowest annual 
            power attenuation, maintaining their performance over years of use.</p>
            <p class="fs-5" style="text-align: justify;">Our systems are also resistant to potential-induced degradation (PID), which is 
            especially important in harsh environments. They have been rigorously tested for 
            excellent low-light performance, utilizing Multi-Busbar (MBB) technology to generate 
            power even in less-than-ideal lighting conditions. Moreover, the anti-crack design 
            ensures superior resistance to micro-cracking, resulting in more balanced interior 
            stress and longer module life. </p>

            <p class="fs-5" style="text-align: justify;">Strength and durability are key attributes of our systems, which are certified to withstand 500Pa snow loads and 2400Pa wind loads, making them robust enough to handle extreme weather conditions. 
            In summary, our products are designed for reliability, ease of use, and long-term 
            performance, making them ideal for various solar applications the Solar Home 
            Systems combine cutting-edge technology, efficiency, and durability, making them the ideal solution for ensuring sustainable and reliable electricity in health facilities.</p>
    </div>

    

    
    </div>


  
</section>

<div class="row d-flex justify-content-center align-items-start gap-4 mt-4">
    <!-- Mission Statement -->
    <div class="col-md-3 p-4 bg-light rounded shadow-lg ">
        <h2 class="fw-bold text-danger">Our Mission</h2>
        <p class="fs-5">
            At Ecosun Solar Power Limited, our mission is to empower communities and industries through the production of high-quality, affordable, and sustainable solar energy solutions. We are committed to driving innovation in solar manufacturing, reducing carbon footprints, and promoting energy independence for a greener, brighter future.
        </p>
    </div>
    
    <!-- Vision Statement -->
    <div class="col-md-3 p-4 bg-light rounded shadow-lg ">
        <h2 class="fw-bold text-primary ">Our Vision</h2>
        <p class="fs-5">
            At EcoSun Power, we believe that a sustainable future is possible. Our vision is to be a leader in the energy management industry, helping businesses around the world reduce their energy usage and carbon footprint. We are committed to creating a better world for future generations. energy survey energy saving solutions energy efficiency
        </p>
    </div>

    <!-- Core Values -->
    <div class="col-md-3 p-4 bg-light rounded shadow-lg">
        <h2 class="fw-bold text-success "> Our Core Values</h2>
        <p class="fs-5">At EcoSun Power, we are guided by a set of core values that inform everything we do. We believe in honesty, integrity, and transparency. We are committed to providing excellent customer service and delivering innovative solutions that meet the unique needs of each client. We are also dedicated to sustainability and doing our part to protect the planet. energy survey </p>
        
    </div>
</div>









{% endblock %}