{% extends "admin/base.html" %}

{% block content %}




<div class="container mt-4">
    <div class="mb-3">
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-dark shadow-sm back-btn">
            <i class="fas fa-arrow-left"></i> 
        </a>
    </div>
    <h2 class="heading-style">
        <i class="fas fa-users"></i> Accredited Distributors
    </h2>
   

   
    <form id="search-form" method="GET" action="{{ url_for('manage_distributors') }}" class="mb-3">
        <div class="input-group">
            <input type="text" id="search-input" name="search" class="form-control" placeholder="Search by name..." value="{{ search_query }}">
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
        </div>
    </form>
    
    <!-- distributors Table (Loaded via AJAX) -->
    <div id="distributors-container">
        {% include 'admin/distributors_table.html' %}
    </div>

    
    

    
</div>



{% endblock %}
