{% extends "user/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="mb-4">
        <a href="{{ url_for('manage_products') }}" class="btn btn-outline-success">
            <i class="fas fa-arrow-left"></i> Back 
        </a>
    </div>
   
    <div class="row">
       
        <div class="col-md-7">
            <div id="productCarousel" class="carousel slide shadow" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in product.images[:5] %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ url_for('static', filename='uploads/' + image.image_name) }}" class="d-block w-100 rounded-3 glightbox" data-product="product-zoom" alt="product Image">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>

        <div class="col-md-5">
            <h2 class="fw-bold">{{ product.product_name }}</h2>
            
            
           
            <p class="fw-bold text-secondary">ID: {{ product.product_ref }}</p>
        
            <p class="fs-5">{{ product.product_description }}</p>
        
            <h6 class="mt-4"><i class="fas fa-solar-panel"></i> Product Features:</h6>

            <p class="text-info">Category: {{ product.category.name }}</p>
            
            
           
        </div>
        
    </div>

    
   
</div>
{% endblock %}
